$color: (  //map-get($map: $color, $key: bgh);
    bg: #eeafc9,
    bgh:#FF8360,
    bgf: #FBF5F3 ,
    a2: #E71D36 ,
    a1: #BDBF09 ,
    t1: #AEFF01,
    t2: #B21E35,
    t3: #D100D1,
);

// $color: (
//     bg: #BBD8B3,
//     bgh:#F3B61F ,
//     a1: #A29F15 ,
//     a2: #510D0A ,
//     bgf: #191102 ,
//     t1: #AEFF01,
//     t2: #B21E35,
//     t3: #D100D1,
// );

// $color: (
//     bg: #FB5012,
//     bgh:#01FDF6 ,
//     a1: #CBBAED ,
//     a2: #E9DF00 ,
//     bgf: #03FCBA,
//     t1: #AEFF01,
//     t2: #B21E35,
//     t3: #D100D1,
// );

// $color: (
//     bg: #D782BA,
//     bgh:#E18AD4,
//     a1: #EEB1D5 ,
//     a2: #EFC7E5 ,
//     bgf: #E0EFDA ,
//     t1: #AEFF01,
//     t2: #B21E35,
//     t3: #D100D1,
// );

// $color: (
//     bg: #58355E,
//     bgh: #06D6A0,
//     a1: #1B9AAA,
//     a2: #EF476F,
//     bgf: #FFC43D,
//     t1: #AEFF01,
//     t2: #B21E35,
//     t3: #D100D1,
// )



